//ui-theme-dark
$txtcolor-primary:		rgba(255,255,255,1);
$txtcolor-secondary:	rgba(255,255,255,0.7);
$txtcolor-hint:			rgba(255,255,255,0.3);
$txtcolor-disabled:		rgba(255,255,255,0.3);
$txtcolor-icons:		rgba(255,255,255,0.3);
$txtcolor-dividers:		rgba(255,255,255,0.12);

$bgcolor-status:	#000000;//100%
$bgcolor-app:		#212121;//900
$bgcolor-bg:		#303030;
$bgcolor-cards:		#424242;//800
$bgcolor-dialogs:	#424242;//800