//ui-theme-light
$txtcolor-primary:		rgba(0,0,0,0.87);
$txtcolor-secondary:	rgba(0,0,0,0.54);
$txtcolor-hint:			rgba(0,0,0,0.38);
$txtcolor-disabled:		rgba(0,0,0,0.38);
$txtcolor-icons:		rgba(0,0,0,0.38);
$txtcolor-dividers:		rgba(0,0,0,0.12);

$bgcolor-status:	#E0E0E0;//300
$bgcolor-app:		#F5F5F5;//100
$bgcolor-bg:		#FAFAFA;//50
$bgcolor-cards:		#FFFFFF;
$bgcolor-dialogs:	#FFFFFF;

$accent-color:  #0091EA;//Light Blue A700
